
<center>
  <h1 class="tit">►EDUCATION◄</h1>
</center>
 <div class="edu">
     
        <h3 class="ehead"><u>Education Information</u></h3>
        <p class="edet"><b>Current Education</b> {{myData.study}}</p>
        {{#with myData.education}}
        <p class="edet"><b>Upper Secondary Education : </b>{{Upper}}</p>
        <p class="edet"><b>Lower Secondary Education : </b>{{Lower}}</p>
        {{/with}}
    </div>