
<body>
    <center>
        <h1 class="tit">MYPROFILE</h1>
    </center>
   

   <h1 class="Myname">Hello, My name is {{myData.name}}</h1>

    <h2 class="Myname">{{myData.study}}</h2>
    <center>
    <div class="proimg" align="center">
        <img src="img.jpg" alt="">
    </div>
</center>
    
</body>