
<body>
    <center>
        <h1 class="tit">►MYPROFILE◄</h1>
    </center>
   

   <h1 class="Myname">Hello, My name is {{myData.name}}</h1>

    <h2 class="Myname">{{myData.study}}</h2>
    <div class="proimg">
        <img src="img.jpg" alt="">
    </div>

    
</body>