

<center>
  <h1 class="tit">SKILLS</h1>
</center>
<div class="backAb">
<p class="skillhead"><u>The ability to work on software.</u></p>
  <div class="textskill">
    <p><b>HTML : </b></p>
    <div class="container">
      <div class="skills html">80%</div>
    </div>

    <p><b>CSS : </b></p>
    <div class="container">
      <div class="skills css">60%</div>
    </div>

    <p><b>JavaScript : </b></p>
    <div class="container">
      <div class="skills js">45%</div>
    </div>

    <p><b>PHP : </b></p>
    <div class="container">
      <div class="skills php">65%</div>
    </div>

    <p><b>JAVA : </b></p>
    <div class="container">
      <div class="skills java">30 %</div>
    </div>
  </div>
  </div>